/**
 * Based on a theme distributed by `starry-night`, which in turn is based on
 * what GitHub uses on their site.
 *
 * See <https://github.com/wooorm/starry-night> for more info.
 */
:root {
  --cb-comment: #59636e;
  --cb-constant: #0550ae;
  --cb-constant-other-reference-link: #0a3069;
  --cb-entity: #6639ba;
  --cb-storage-modifier-import: #1f2328;
  --cb-entity-tag: #0550ae;
  --cb-keyword: #cf222e;
  --cb-string: #0a3069;
  --cb-variable: #953800;
  --cb-bracket-unmatched: #82071e;
  --cb-bracket-angle: #59636e;
  --cb-invalid-illegal-text: #f6f8fa;
  --cb-invalid-illegal-bg: #82071e;
  --cb-carriage-return-text: #f6f8fa;
  --cb-carriage-return-bg: #cf222e;
  --cb-string-regexp: #116329;
  --cb-markup-list: #3b2300;
  --cb-markup-heading: #0550ae;
  --cb-markup-italic: #1f2328;
  --cb-markup-bold: #1f2328;
  --cb-markup-deleted-text: #82071e;
  --cb-markup-deleted-bg: #ffebe9;
  --cb-markup-inserted-text: #116329;
  --cb-markup-inserted-bg: #dafbe1;
  --cb-markup-changed-text: #953800;
  --cb-markup-changed-bg: #ffd8b5;
  --cb-markup-ignored-text: #d1d9e0;
  --cb-markup-ignored-bg: #0550ae;
  --cb-meta-diff-range: #8250df;
  --cb-gutter-mark: #818b98;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cb-comment: #9198a1;
    --cb-constant: #79c0ff;
    --cb-constant-other-reference-link: #a5d6ff;
    --cb-entity: #d2a8ff;
    --cb-storage-modifier-import: #f0f6fc;
    --cb-entity-tag: #7ee787;
    --cb-keyword: #ff7b72;
    --cb-string: #a5d6ff;
    --cb-variable: #ffa657;
    --cb-bracket-unmatched: #f85149;
    --cb-bracket-angle: #9198a1;
    --cb-invalid-illegal-text: #f0f6fc;
    --cb-invalid-illegal-bg: #8e1519;
    --cb-carriage-return-text: #f0f6fc;
    --cb-carriage-return-bg: #b62324;
    --cb-string-regexp: #7ee787;
    --cb-markup-list: #f2cc60;
    --cb-markup-heading: #1f6feb;
    --cb-markup-italic: #f0f6fc;
    --cb-markup-bold: #f0f6fc;
    --cb-markup-deleted-text: #ffdcd7;
    --cb-markup-deleted-bg: #67060c;
    --cb-markup-inserted-text: #aff5b4;
    --cb-markup-inserted-bg: #033a16;
    --cb-markup-changed-text: #ffdfb6;
    --cb-markup-changed-bg: #5a1e02;
    --cb-markup-ignored-text: #f0f6fc;
    --cb-markup-ignored-bg: #1158c7;
    --cb-meta-diff-range: #d2a8ff;
    --cb-gutter-mark: #3d444d;
  }
}

.pl-c {
  color: var(--cb-comment);
}

.pl-c1,
.pl-s .pl-v {
  color: var(--cb-constant);
}

.pl-e,
.pl-en {
  color: var(--cb-entity);
}

.pl-smi,
.pl-s .pl-s1 {
  color: var(--cb-storage-modifier-import);
}

.pl-ent {
  color: var(--cb-entity-tag);
}

.pl-k {
  color: var(--cb-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: var(--cb-string);
}

.pl-v,
.pl-smw {
  color: var(--cb-variable);
}

.pl-bu {
  color: var(--cb-bracket-unmatched);
}

.pl-ii {
  background-color: var(--cb-invalid-illegal-bg);
  color: var(--cb-invalid-illegal-text);
}

.pl-c2 {
  background-color: var(--cb-carriage-return-bg);
  color: var(--cb-carriage-return-text);
}

.pl-sr .pl-cce {
  color: var(--cb-string-regexp);
  font-weight: bold;
}

.pl-ml {
  color: var(--cb-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  color: var(--cb-markup-heading);
  font-weight: bold;
}

.pl-mi {
  color: var(--cb-markup-italic);
  font-style: italic;
}

.pl-mb {
  color: var(--cb-markup-bold);
  font-weight: bold;
}

.pl-md {
  background-color: var(--cb-markup-deleted-bg);
  color: var(--cb-markup-deleted-text);
}

.pl-mi1 {
  background-color: var(--cb-markup-inserted-bg);
  color: var(--cb-markup-inserted-text);
}

.pl-mc {
  background-color: var(--cb-markup-changed-bg);
  color: var(--cb-markup-changed-text);
}

.pl-mi2 {
  background-color: var(--cb-markup-ignored-bg);
  color: var(--cb-markup-ignored-text);
}

.pl-mdr {
  color: var(--cb-meta-diff-range);
  font-weight: bold;
}

.pl-ba {
  color: var(--cb-bracket-angle);
}

.pl-sg {
  color: var(--cb-gutter-mark);
}

.pl-corl {
  color: var(--cb-constant-other-reference-link);
  text-decoration: underline;
}
