:root {
  --imp-bg: var(--color-gray-100);
  --imp-context-bg: var(--color-blue-100);
  --imp-context-border: var(--color-gray-400);
  --imp-line-number: var(--color-gray-400);
  --imp-scrollbar: var(--color-gray-300);
  --imp-selection: rgb(from var(--color-blue-400) r g b / 25%);
  --imp-title-code-bg: var(--color-gray-100);
  --imp-whitespace: var(--color-gray-400);
}
@media (prefers-color-scheme: dark) {
  :root {
    --imp-bg: var(--color-gray-900);
    --imp-context-bg: color-mix(
      in oklch,
      var(--imp-bg),
      var(--color-blue-950) 50%
    );
    --imp-context-border: var(--color-gray-600);
    --imp-line-number: var(--color-gray-600);
    --imp-scrollbar: var(--color-gray-700);
    --imp-selection: rgb(from var(--color-blue-500) r g b / 25%);
    --imp-title-code-bg: var(--color-gray-700);
    --imp-whitespace: var(--color-gray-600);
  }
}

.prose .imp-frame {
  margin-block: calc(var(--spacing) * 6);
}
.imp-frame.not-prose,
.not-prose .imp-frame {
  margin-block: 0;
}

/* inline code inside titles */
.imp-title code {
  border-radius: var(--radius-sm);
  background-color: var(--imp-title-code-bg);
  padding-inline: 0.4em;
  padding-block: 0.2em;
  font-size: var(--text-sm);
}

.imp-cb {
  display: flex;
  position: relative;
  background-color: var(--imp-bg);
  overflow-x: auto;
  overflow-y: clip;
  tab-size: 2;
}

/* add vertical padding to the first and last lines so that it inherits the
lines' background color */
:is(.imp-n, .imp-l):first-child {
  padding-top: calc(var(--spacing) * 3);
}
:is(.imp-n, .imp-l):last-child {
  padding-bottom: calc(var(--spacing) * 3);
}

/* nothing but code lines should be selectable */
.imp-cb,
.imp-cb * {
  user-select: none;
}
.imp-l,
.imp-l * {
  user-select: text;
}

/* selection color */
.imp-cb::selection,
.imp-cb *::selection {
  background-color: var(--imp-selection);
}

/* line numbers and code */
.imp-ln {
  display: none;
  position: sticky;
  left: 0;
  flex-shrink: 0;
  z-index: 2;
  margin-right: calc(-1 * calc(var(--spacing) * 4));
  background-color: var(--imp-bg);
  color: var(--imp-line-number);
  text-align: right;
}
.imp-ln-s .imp-ln {
  display: block;
}
.imp-n {
  padding-right: calc(var(--spacing) * 6);
  padding-left: calc(var(--spacing) * 4);
}
.imp-cb code {
  flex-grow: 1;
  z-index: 1;
}
.imp-l {
  padding-right: calc(var(--spacing) * 4);
  padding-left: calc(var(--spacing) * 4);
}

/* scrollbar */
@supports (scrollbar-color: auto) {
  .imp-cb {
    scrollbar-color: var(--imp-scrollbar) transparent;
  }
}
@supports selector(::-webkit-scrollbar) {
  .imp-cb::-webkit-scrollbar-thumb {
    border-radius: calc(infinity * 1px);
    background-color: var(--imp-scrollbar);
  }
  .imp-cb::-webkit-scrollbar {
    background-color: transparent;
    height: calc(var(--spacing) * 2);
  }
}

/* whitespace rendering */
.imp-s,
.imp-t {
  position: relative;
}
:is(.imp-s, .imp-t)::before {
  position: absolute;
  color: transparent;
}
/* hack to fix weird Safari text highlight gaps */
:is(.imp-s, .imp-t)::before {
  left: -100px;
  transform: translateX(100px);
}
.imp-s::before {
  content: "\0000B7"; /* middle dot */
}
.imp-t::before {
  content: "\002192"; /* right arrow */
}
:is(.imp-s, .imp-t).selected::before {
  color: var(--imp-whitespace);
}

/* add vertical padding to the section content */
.imp-sx + .imp-sc {
  padding-top: calc(var(--spacing) * 3);
}
.imp-sc:has(+ .imp-sx) {
  padding-bottom: calc(var(--spacing) * 3);
}
/* add vertical padding to the section context */
.imp-sc + .imp-sx {
  padding-top: calc(var(--spacing) * 3);
}
.imp-sx:has(+ .imp-sc) {
  padding-bottom: calc(var(--spacing) * 3);
}
/* hide context lines when there's a section */
.imp-cb[data-imp-s] .imp-sx {
  display: none;
}
/* show them when expanded */
.imp-frame:has(.imp-se :checked) .imp-sx {
  display: revert;
}
/* hide and show section indent as appropriate */
.imp-sc-i {
  visibility: hidden;
}
.imp-frame:has(.imp-se :checked) .imp-sc-i {
  visibility: visible;
}
.imp-l.imp-sc {
  transform: translateX(calc(-1 * var(--imp-iw)));
  margin-right: calc(-1 * var(--imp-iw));
}
.imp-frame:has(.imp-se :checked) .imp-l.imp-sc {
  transform: translateX(0);
  margin-right: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .imp-l.imp-sc {
    transition:
      transform 200ms ease,
      margin-right 200ms step-end;
  }
  .imp-frame:has(.imp-se :checked) .imp-l.imp-sc {
    transition: transform 200ms ease;
  }
}
/* dim the context line numbers and lines when expanded */
.imp-frame:has(.imp-se :checked) .imp-cb[data-imp-s] .imp-sx {
  background-color: var(--imp-context-bg);
}
.imp-frame:has(.imp-se :checked) .imp-cb[data-imp-s] .imp-sc {
  background-color: var(--imp-bg);
}
