/**
 * Based on a theme distributed by `starry-night`, which in turn is based on
 * what GitHub uses on their site.
 *
 * The original colors were replaced with approximate Tailwind CSS color
 * matches.
 *
 * @see https://github.com/wooorm/starry-night
 */
:root {
  --cb-comment: theme("colors.gray.600");
  --cb-constant: theme("colors.blue.800");
  --cb-constant-other-reference-link: theme("colors.blue.900");
  --cb-entity: theme("colors.purple.800");
  --cb-storage-modifier-import: theme("colors.gray.800");
  --cb-entity-tag: theme("colors.blue.800");
  --cb-keyword: theme("colors.red.600");
  --cb-string: theme("colors.blue.900");
  --cb-variable: theme("colors.orange.800");
  --cb-bracket-unmatched: theme("colors.red.900");
  --cb-bracket-angle: theme("colors.gray.600");
  --cb-invalid-illegal-text: theme("colors.gray.50");
  --cb-invalid-illegal-bg: theme("colors.red.900");
  --cb-carriage-return-text: theme("colors.gray.50");
  --cb-carriage-return-bg: theme("colors.red.600");
  --cb-string-regexp: theme("colors.green.800");
  --cb-markup-list: theme("colors.yellow.950");
  --cb-markup-heading: theme("colors.blue.800");
  --cb-markup-italic: theme("colors.gray.800");
  --cb-markup-bold: theme("colors.gray.800");
  --cb-markup-deleted-text: theme("colors.red.900");
  --cb-markup-deleted-bg: theme("colors.red.100");
  --cb-markup-inserted-text: theme("colors.green.800");
  --cb-markup-inserted-bg: theme("colors.green.100");
  --cb-markup-changed-text: theme("colors.orange.800");
  --cb-markup-changed-bg: theme("colors.orange.100");
  --cb-markup-ignored-text: theme("colors.gray.300");
  --cb-markup-ignored-bg: theme("colors.blue.800");
  --cb-meta-diff-range: theme("colors.purple.500");
  --cb-gutter-mark: theme("colors.gray.500");
}

@media (prefers-color-scheme: dark) {
  :root {
    --cb-comment: theme("colors.gray.400");
    --cb-constant: theme("colors.blue.400");
    --cb-constant-other-reference-link: theme("colors.blue.200");
    --cb-entity: theme("colors.purple.300");
    --cb-storage-modifier-import: theme("colors.gray.50");
    --cb-entity-tag: theme("colors.green.300");
    --cb-keyword: theme("colors.red.400");
    --cb-string: theme("colors.blue.200");
    --cb-variable: theme("colors.orange.400");
    --cb-bracket-unmatched: theme("colors.red.500");
    --cb-bracket-angle: theme("colors.gray.400");
    --cb-invalid-illegal-text: theme("colors.gray.50");
    --cb-invalid-illegal-bg: theme("colors.red.800");
    --cb-carriage-return-text: theme("colors.gray.50");
    --cb-carriage-return-bg: theme("colors.red.700");
    --cb-string-regexp: theme("colors.green.300");
    --cb-markup-list: theme("colors.yellow.300");
    --cb-markup-heading: theme("colors.blue.600");
    --cb-markup-italic: theme("colors.gray.50");
    --cb-markup-bold: theme("colors.gray.50");
    --cb-markup-deleted-text: theme("colors.red.100");
    --cb-markup-deleted-bg: theme("colors.red.900");
    --cb-markup-inserted-text: theme("colors.green.300");
    --cb-markup-inserted-bg: theme("colors.green.900");
    --cb-markup-changed-text: theme("colors.orange.200");
    --cb-markup-changed-bg: theme("colors.orange.900");
    --cb-markup-ignored-text: theme("colors.gray.50");
    --cb-markup-ignored-bg: theme("colors.blue.700");
    --cb-meta-diff-range: theme("colors.purple.300");
    --cb-gutter-mark: theme("colors.gray.700");
  }
}

.pl-c {
  color: var(--cb-comment);
}

.pl-c1,
.pl-s .pl-v {
  color: var(--cb-constant);
}

.pl-e,
.pl-en {
  color: var(--cb-entity);
}

.pl-smi,
.pl-s .pl-s1 {
  color: var(--cb-storage-modifier-import);
}

.pl-ent {
  color: var(--cb-entity-tag);
}

.pl-k {
  color: var(--cb-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: var(--cb-string);
}

.pl-v,
.pl-smw {
  color: var(--cb-variable);
}

.pl-bu {
  color: var(--cb-bracket-unmatched);
}

.pl-ii {
  background-color: var(--cb-invalid-illegal-bg);
  color: var(--cb-invalid-illegal-text);
}

.pl-c2 {
  background-color: var(--cb-carriage-return-bg);
  color: var(--cb-carriage-return-text);
}

.pl-sr .pl-cce {
  color: var(--cb-string-regexp);
  font-weight: bold;
}

.pl-ml {
  color: var(--cb-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  color: var(--cb-markup-heading);
  font-weight: bold;
}

.pl-mi {
  color: var(--cb-markup-italic);
  font-style: italic;
}

.pl-mb {
  color: var(--cb-markup-bold);
  font-weight: bold;
}

.pl-md {
  background-color: var(--cb-markup-deleted-bg);
  color: var(--cb-markup-deleted-text);
}

.pl-mi1 {
  background-color: var(--cb-markup-inserted-bg);
  color: var(--cb-markup-inserted-text);
}

.pl-mc {
  background-color: var(--cb-markup-changed-bg);
  color: var(--cb-markup-changed-text);
}

.pl-mi2 {
  background-color: var(--cb-markup-ignored-bg);
  color: var(--cb-markup-ignored-text);
}

.pl-mdr {
  color: var(--cb-meta-diff-range);
  font-weight: bold;
}

.pl-ba {
  color: var(--cb-bracket-angle);
}

.pl-sg {
  color: var(--cb-gutter-mark);
}

.pl-corl {
  color: var(--cb-constant-other-reference-link);
  text-decoration: underline;
}
