/* expand code element so that section expanders are full width */
.pre code {
  display: block;
  min-width: fit-content;
}

/* necessary to render tabs correctly */
.pre :global(.line) * {
  display: inline-block;
}

/* selection color */
.pre::selection,
.pre *::selection {
  /* this must be semi-transparent for Safari compatibility */
  background-color: rgb(from theme("colors.blue.300") r g b / 50%);
}

/* line numbers */
.pre.lineNumbers :global(.line::before) {
  display: inline-block;
  margin-right: theme("spacing.6");
  width: var(--line-number-width, 1ch);
  content: attr(data-line);
  color: theme("colors.gray.400");
  text-align: right;
}

/* whitespace rendering *******************************************************/

.pre :global(:is(.space, .tab)) {
  position: relative;
}
.pre :global(:is(.space, .tab)::before) {
  position: absolute;
  color: transparent;
}
.pre :global(:is(.space, .tab).selected::before) {
  color: theme("colors.gray.400");
}
.pre :global(.space::before) {
  content: "\0000B7"; /* middle dot */
}
.pre :global(.tab::before) {
  content: "\002192"; /* right arrow */
}
/* hack to fix weird Safari text highlight gaps - still not perfect */
.pre :global(:is(.space, .tab)::before) {
  left: -100px;
  transform: translateX(100px);
}

/* sections *******************************************************************/

/* interactive handle */
.pre :global(.section-expander) {
  display: flex;
  align-items: center;
  gap: theme("spacing.2");
  cursor: pointer;
  color: theme("colors.gray.300");
}
.pre :global(:is(.section-expander:hover, .section-expander:focus-visible)) {
  color: theme("colors.gray.500");
}
.pre :global(.section-expander:active) {
  color: theme("colors.blue.500");
}
.pre :global(.section-expander::before) {
  content: "(\0000B7\0000B7\0000B7)";
}
.pre :global(:is(.section-expander-show, .section-expander-hide)) {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: theme("lineHeight.7");
}
.pre :global(:is(.section-expander-show, .section-expander-hide)::after) {
  flex-grow: 1;
  border-top: 1px solid currentColor;
  content: "";
}
/* switch the show and hide content depending on expanded status */
.pre :global(.section-expander-hide) {
  display: none;
}
.pre:has(:global(.section-expanded:checked)) :global(.section-expander-hide) {
  display: flex;
}
.pre:has(:global(.section-expanded:checked)) :global(.section-expander-show) {
  display: none;
}
/* hide line numbers when the section is collapsed */
.pre[data-section]:not(:has(:global(.section-expanded:checked)))
  :global(.line::before) {
  display: none;
}
/* hide the context and indent when the section is collapsed */
.pre[data-section]:not(:has(:global(.section-expanded:checked)))
  :global(:is(.section-context, .section-content .section-indent)) {
  display: none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .pre,
  .pre span {
    background-color: var(--shiki-dark-bg) !important;
    color: var(--shiki-dark) !important;
  }

  /* selection color */
  .pre::selection,
  .pre *::selection {
    /* this must be semi-transparent for Safari compatibility */
    background-color: rgb(from theme("colors.gray.600") r g b / 50%);
  }

  /* line numbers */
  .pre.lineNumbers :global(.line::before) {
    color: theme("colors.gray.600");
  }

  /* whitespace rendering */
  .pre :global(:is(.space, .tab).selected::before) {
    color: theme("colors.gray.600");
  }

  /* section interactive handle */
  .pre :global(.section-expander) {
    color: theme("colors.gray.800");
  }
  .pre :global(:is(.section-expander:hover, .section-expander:focus-visible)) {
    color: theme("colors.gray.600");
  }
  .pre :global(.section-expander:active) {
    color: theme("colors.blue.600");
  }
}
