.pre {
  & code {
    & :global(.line)::before {
      content: attr(data-line);
      display: inline-block;
      width: var(--line-number-width, 1ch);
      margin-right: theme("spacing.5");
      color: theme("colors.gray.600");
      text-align: right;
      user-select: none;
    }
  }

  &[data-section] {
    & code {
      & :global(.line)::before {
        margin-right: calc(theme("spacing.5") - var(--section-min-indent, 0));
      }
    }
  }
}
