.pre {
  & :global(.line) * {
    display: inline-block;
  }

  & :global(.line::before) {
    display: inline-block;
    margin-right: theme("spacing.5");
    width: var(--line-number-width, 1ch);
    content: attr(data-line);
    color: theme("colors.gray.600");
    user-select: none;
    text-align: right;
  }

  &[data-section] {
    & :global(.section-indent) {
      display: none;
    }
  }
}
