.code pre {
  padding: 0;

  & > * > * {
    padding-inline: theme("spacing.4");

    &:first-child {
      padding-block-start: theme("spacing.3");
    }
    &:last-child {
      padding-block-end: theme("spacing.3");
    }
  }
}
