@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./code/code-theme.css";
@import "./code/code-block.css";

@layer utilities {
  .text-truncate {
    min-width: 0;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

html {
  scroll-padding-top: theme("padding.5");
}
